.version.contact /* version checker */
{
	color: #0000ED;
	background-color: #BDCD2F;
}

#page
{
	z-index: 1;
	width: 1150px;
	min-height: 811.5234234873922px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 5px;
	padding-bottom: 24px;
}

#pu10256
{
	width: 0.01px;
	margin-left: 34px;
}

#u10256
{
	z-index: 22;
	width: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u10257
{
	z-index: 23;
	width: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u10257_img
{
	padding-right: 1px;
	padding-bottom: 9px;
}

#u10888
{
	z-index: 39;
	width: 1px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 82px;
}

#u10887-6
{
	z-index: 33;
	width: 186px;
	min-height: 49px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 20px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 88px;
}

#u11348-4
{
	z-index: 188;
	width: 271px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	color: #000000;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 568px;
}

#u11348-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 28px -10000px 0px 0px;
}

#u11348
{
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
}

#pu10220-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 858px;
}

#u10220-5
{
	z-index: 5;
	width: 164px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
}

#pamphletu11130
{
	z-index: 46;
	width: 0.01px;
	height: 24px;
	padding-bottom: 5px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u11158
{
	z-index: 47;
	width: 136px;
	position: relative;
	margin-right: -10000px;
	left: 20px;
}

#u11159
{
	position: absolute;
	width: 171px;
	background: #FBB03B url("../images/u9089-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FDFD79),color-stop(54%, #FBB03B));
	background: -webkit-linear-gradient(top,#FDFD79 ,#FBB03B 54%);
	background: -o-linear-gradient(top,#FDFD79 ,#FBB03B 54%);
	background: linear-gradient(to bottom,#FDFD79 ,#FBB03B 54%);
	border-color: #DEDEDE;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	padding-bottom: 5px;
	left: -20px;
}

#u11159:hover
{
	background: #8CC63F url("../images/u9089-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FCEE21),color-stop(54%, #8CC63F));
	background: -webkit-linear-gradient(top,#FCEE21 ,#8CC63F 54%);
	background: -o-linear-gradient(top,#FCEE21 ,#8CC63F 54%);
	background: linear-gradient(to bottom,#FCEE21 ,#8CC63F 54%);
	border-color: #999999;
	margin: 0px;
}

#u11160-4
{
	z-index: 49;
	width: 136px;
	min-height: 22px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 20px;
}

#u11159:hover #u11160-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u11159:hover #u11160-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u11159.PamphletThumbSelected #u11160-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 20px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u11131
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #DEDEDE;
	-moz-border-radius: 19px;
	-webkit-border-radius: 19px;
	-khtml-border-radius: 19px;
	border-radius: 19px;
	padding-bottom: 1px;
	top: 63px;
	left: -170px;
}

#u11131:hover
{
	background-color: #E25224;
	margin: 0px;
}

#u11132-4
{
	z-index: 54;
	width: 20px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 25px;
	color: #95847A;
	font-size: 18px;
	text-align: center;
	font-family: expletus-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u11133
{
	position: absolute;
	width: 433px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: 69px;
	left: -583px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u11133popup
{
	z-index: 58;
}

#u11134
{
	z-index: 59;
	width: 324px;
	height: 256px;
	-pie-box-shadow: 6px 6px 8px #999999;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	background-color: #DEDEDE;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 22px 32px 12px 33px;
}

#u11153-4
{
	z-index: 60;
	width: 324px;
	min-height: 20px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
}

#u11152-4
{
	z-index: 113;
	width: 295px;
	min-height: 51px;
	background-color: transparent;
	line-height: 19px;
	color: #7F7F7F;
	font-size: 16px;
	text-align: center;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	margin-left: 15px;
	margin-top: 10px;
	position: relative;
}

#widgetu11135
{
	z-index: 64;
	width: 0.01px;
	height: 163px;
	margin-left: 10px;
	margin-top: 3px;
	position: relative;
}

#widgetu11136
{
	z-index: 65;
	width: 300px;
	height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1px;
}

#u11139-4
{
	z-index: 66;
	width: 286px;
	min-height: 26px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 18px;
	color: #C4C4C4;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

.html,#widgetu11136.non-empty-st #u11139-4
{
	background-color: #FFFFFF;
}

#widgetu11136:hover #u11139-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 0px -10000px 0px 0px;
}

#widgetu11136.focus-st #u11139-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 0px -10000px 0px 0px;
}

#widgetu11136.non-empty-st #u11139-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu11136:hover #u11139-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu11136.focus-st #u11139-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu11142
{
	z-index: 70;
	width: 300px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: -1px;
}

#u11143-4
{
	z-index: 71;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u11144-4
{
	z-index: 75;
	width: 286px;
	min-height: 26px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 18px;
	color: #C4C4C4;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#widgetu11142.non-empty-st #u11144-4
{
	background-color: #FFFFFF;
}

#widgetu11142:hover #u11144-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 20px -10000px 0px 0px;
}

#widgetu11142.focus-st #u11144-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 20px -10000px 0px 0px;
}

#widgetu11142.non-empty-st #u11144-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu11142:hover #u11144-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu11142.focus-st #u11144-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u11140-4
{
	z-index: 79;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 113px;
}

#u11150-4
{
	z-index: 83;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 113px;
}

#u11151-4
{
	z-index: 87;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 113px;
}

#u11141-17
{
	z-index: 91;
	min-height: 41px;
	width: 298px;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	left: 2px;
	background: url("../images/u11141-17.png") no-repeat 0px 0px;
}

#u11141-17:hover
{
	background: url("../images/u11141-17-r.png") no-repeat 0px 0px;
}

#u11141-17:active
{
	background: url("../images/u11141-17-m.png") no-repeat 0px 0px;
}

#widgetu11135.frm-sub-st #u11141-17
{
	background: url("../images/u11141-17-fs.png") no-repeat 0px 0px;
}

#widgetu11146
{
	z-index: 108;
	width: 300px;
	height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 1px;
}

#u11147-4
{
	z-index: 109;
	width: 286px;
	min-height: 26px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 18px;
	color: #C4C4C4;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu11146.non-empty-st #u11147-4
{
	background-color: #FFFFFF;
}

#widgetu11146:hover #u11147-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 0px -10000px 0px 0px;
}

#widgetu11146.focus-st #u11147-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 0px -10000px 0px 0px;
}

#widgetu11146.non-empty-st #u11147-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu11146:hover #u11147-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu11146.focus-st #u11147-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u11987
{
	z-index: 204;
	height: 34px;
	border-color: #000000;
	background-color: #E6E6E6;
}

#u11987-bw
{
	z-index: 204;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 83px;
}

#u11988-4
{
	z-index: 205;
	width: 56px;
	min-height: 21px;
	background-color: transparent;
	line-height: 20px;
	color: #000000;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: fixed;
	top: 89px;
	left: 308px;
}

#u11988-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px;
}

#u12024
{
	z-index: 292;
	width: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 90px;
	left: 367px;
}

#u12025
{
	z-index: 293;
	width: 18px;
	height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FBB03B;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
}

#u12026
{
	z-index: 294;
	width: 5px;
	height: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,4,-2);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,4,-2);
	-o-transform: matrix(0.7071,0.7071,-0.7071,0.7071,4,-2);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,4,-2);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
	border-width: 0px 0px 3px 3px;
}

#u11989-4
{
	z-index: 209;
	width: 120px;
	background-color: transparent;
	line-height: 20px;
	color: #000000;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: fixed;
	top: 90px;
	left: 412px;
}

#u12027
{
	z-index: 295;
	width: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 90px;
	left: 538px;
}

#u12028
{
	z-index: 296;
	width: 18px;
	height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FBB03B;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
}

#u12029
{
	z-index: 297;
	width: 5px;
	height: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,4,-2);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,4,-2);
	-o-transform: matrix(0.7071,0.7071,-0.7071,0.7071,4,-2);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,4,-2);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
	border-width: 0px 0px 3px 3px;
}

#u11990-4
{
	z-index: 213;
	width: 100px;
	background-color: transparent;
	line-height: 20px;
	color: #000000;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: fixed;
	top: 89px;
	left: 579px;
}

#u12030
{
	z-index: 298;
	width: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 90px;
	left: 682px;
}

#u12032
{
	z-index: 299;
	width: 18px;
	height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FBB03B;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
}

#u12031
{
	z-index: 300;
	width: 5px;
	height: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,4,-2);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,4,-2);
	-o-transform: matrix(0.7071,0.7071,-0.7071,0.7071,4,-2);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,4,-2);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
	border-width: 0px 0px 3px 3px;
}

#u11991-4
{
	z-index: 217;
	width: 79px;
	background-color: transparent;
	line-height: 20px;
	color: #000000;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: fixed;
	top: 90px;
	left: 719px;
}

#u11989-4:hover,#u11990-4:hover,#u11991-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 0px;
}

#u11988-4:hover p,#u11988-4:hover span,#u11989-4:hover p,#u11989-4:hover span,#u11990-4:hover p,#u11990-4:hover span,#u11991-4:hover p,#u11991-4:hover span
{
	color: #579D01;
	visibility: inherit;
}

#pamphletu11993
{
	z-index: 221;
	width: 0.01px;
	height: 23px;
	padding-bottom: 5px;
	position: fixed;
	top: 86px;
	left: 901px;
}

#u11998
{
	z-index: 222;
	width: 213px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 5px;
}

#u11999
{
	position: absolute;
	width: 221px;
	background: #FBB03B url("../images/u9306-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FDFD79),color-stop(54%, #FBB03B));
	background: -webkit-linear-gradient(top,#FDFD79 ,#FBB03B 54%);
	background: -o-linear-gradient(top,#FDFD79 ,#FBB03B 54%);
	background: linear-gradient(to bottom,#FDFD79 ,#FBB03B 54%);
	border-color: #DEDEDE;
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	padding-bottom: 5px;
	top: -2px;
	left: -5px;
}

#u11999:hover
{
	background: #8CC63F url("../images/u9306-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FCEE21),color-stop(54%, #8CC63F));
	background: -webkit-linear-gradient(top,#FCEE21 ,#8CC63F 54%);
	background: -o-linear-gradient(top,#FCEE21 ,#8CC63F 54%);
	background: linear-gradient(to bottom,#FCEE21 ,#8CC63F 54%);
	border-color: #999999;
	margin: 0px;
}

#u12000-4
{
	z-index: 224;
	width: 213px;
	min-height: 15px;
	background-color: transparent;
	line-height: 20px;
	color: #000000;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 5px;
}

#u11999:hover #u12000-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 3px -10000px 0px 0px;
}

#u11999.PamphletThumbSelected #u12000-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 3px -10000px 0px 0px;
}

#u11999.PamphletThumbSelected #u12000-4 p
{
	color: #000000;
	visibility: inherit;
	text-align: center;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
}

.js #u11999.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u12001
{
	position: absolute;
	width: 433px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: 66px;
	left: -525px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u12001popup
{
	z-index: 228;
}

#u12002
{
	z-index: 229;
	width: 324px;
	height: 256px;
	-pie-box-shadow: 6px 6px 8px #999999;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	background-color: #DEDEDE;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 22px 32px 12px 33px;
}

#u12020-4
{
	z-index: 230;
	width: 324px;
	min-height: 20px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
}

#u12021-4
{
	z-index: 283;
	width: 295px;
	min-height: 51px;
	background-color: transparent;
	line-height: 19px;
	color: #7F7F7F;
	font-size: 16px;
	text-align: center;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	margin-left: 15px;
	margin-top: 10px;
	position: relative;
}

#widgetu12003
{
	z-index: 234;
	width: 0.01px;
	height: 163px;
	margin-left: 10px;
	margin-top: 3px;
	position: relative;
}

#widgetu12004
{
	z-index: 235;
	width: 300px;
	height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1px;
}

#u12005-4
{
	z-index: 236;
	width: 286px;
	min-height: 26px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 18px;
	color: #C4C4C4;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu12004.non-empty-st #u12005-4
{
	background-color: #FFFFFF;
}

#widgetu12004:hover #u12005-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12004.focus-st #u12005-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12004.non-empty-st #u12005-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12004:hover #u12005-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12004.focus-st #u12005-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12015
{
	z-index: 240;
	width: 300px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: -1px;
}

#u12018-4
{
	z-index: 241;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u12017-4
{
	z-index: 245;
	width: 286px;
	min-height: 26px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 18px;
	color: #C4C4C4;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#widgetu12015.non-empty-st #u12017-4
{
	background-color: #FFFFFF;
}

#widgetu12015:hover #u12017-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 20px -10000px 0px 0px;
}

#widgetu12015.focus-st #u12017-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 20px -10000px 0px 0px;
}

#widgetu12015.non-empty-st #u12017-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12015:hover #u12017-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12015.focus-st #u12017-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u12019-4
{
	z-index: 249;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 113px;
}

#u12013-4
{
	z-index: 253;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 113px;
}

#u12012-4
{
	z-index: 257;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 113px;
}

#u12014-17
{
	z-index: 261;
	min-height: 41px;
	width: 298px;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	left: 2px;
	background: url("../images/u12014-17.png") no-repeat 0px 0px;
}

#u12014-17:hover
{
	background: url("../images/u12014-17-r.png") no-repeat 0px 0px;
}

#u12014-17:active
{
	background: url("../images/u12014-17-m.png") no-repeat 0px 0px;
}

#widgetu12003.frm-sub-st #u12014-17
{
	background: url("../images/u12014-17-fs.png") no-repeat 0px 0px;
}

#widgetu12008
{
	z-index: 278;
	width: 300px;
	height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 1px;
}

#u12009-4
{
	z-index: 279;
	width: 286px;
	min-height: 26px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 18px;
	color: #C4C4C4;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu12008.non-empty-st #u12009-4
{
	background-color: #FFFFFF;
}

#widgetu12008:hover #u12009-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12008.focus-st #u12009-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12008.non-empty-st #u12009-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12008:hover #u12009-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12008.focus-st #u12009-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u11994
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #DEDEDE;
	-moz-border-radius: 19px;
	-webkit-border-radius: 19px;
	-khtml-border-radius: 19px;
	border-radius: 19px;
	padding-bottom: 1px;
	top: 52px;
	left: -114px;
}

#u11994:hover
{
	background-color: #E25224;
	margin: 0px;
}

#u11995-4
{
	z-index: 288;
	width: 20px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 25px;
	color: #95847A;
	font-size: 18px;
	text-align: center;
	font-family: expletus-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u12033
{
	z-index: 301;
	width: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 90px;
	left: 802px;
}

#u12034
{
	z-index: 302;
	width: 18px;
	height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FBB03B;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
}

#u12035
{
	z-index: 303;
	width: 5px;
	height: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0.6947,0.7193,-0.7193,0.6947,4,-2);
	-ms-transform: matrix(0.6947,0.7193,-0.7193,0.6947,4,-2);
	-o-transform: matrix(0.6947,0.7193,-0.7193,0.6947,4,-2);
	transform: matrix(0.6947,0.7193,-0.7193,0.6947,4,-2);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
	border-width: 0px 0px 3px 3px;
}

#pu4226
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 40px;
}

#u4226
{
	z-index: 2;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	margin-top: 94px;
	left: 296px;
}

#u10209
{
	z-index: 4;
	border-color: #000000;
	background: #FFFFFF url("../images/picture-14944.jpg") no-repeat center bottom;
	background-size: cover;
}

#u10209_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1150px;
	position: relative;
	left: -100px;
	padding-top: 41px;
	padding-bottom: 89px;
}

#u12136
{
	z-index: 304;
	width: 344px;
	-pie-box-shadow: 6px 6px 10px #1C1C1C;
	-moz-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.89);
	-webkit-box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.89);
	box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.89);
	border-color: #000000;
	background-color: #C8C8C8;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	padding-bottom: 230px;
	left: 257px;
	position: relative;
}

#u11370-4
{
	z-index: 305;
	width: 324px;
	min-height: 20px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 8px;
}

#u11938-8
{
	z-index: 196;
	width: 360px;
	min-height: 76px;
	background-color: transparent;
	line-height: 36px;
	color: #000000;
	font-size: 30px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	left: 278px;
	margin-top: 42px;
	position: relative;
}

#u10209-bw
{
	z-index: 4;
	height: 566px;
}

#pamphletu11876
{
	z-index: 117;
	width: 0.01px;
	height: 36px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 405px;
	left: 737px;
}

#u11879
{
	z-index: 118;
	width: 194px;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u11880
{
	position: absolute;
	width: 214px;
	border-color: #DEDEDE;
	background-color: transparent;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	padding-bottom: 4px;
	left: -10px;
}

#u11880:hover
{
	border-color: #999999;
	margin: 0px;
}

#u11912-4
{
	z-index: 120;
	width: 194px;
	min-height: 22px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u11159.PamphletThumbSelected #u11160-4,#u11880:hover #u11912-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u11880.PamphletThumbSelected #u11912-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u11880:hover #u11912-4 p,#u11880:hover #u11912-4 span
{
	color: #13497C;
	visibility: inherit;
}

#u11880.PamphletThumbSelected #u11912-4 p,#u11880.PamphletThumbSelected #u11912-4 span
{
	color: #000000;
	visibility: inherit;
	text-decoration: underline;
	font-size: 30px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u11988,#u11989,#u11990,#u11991,#u11912
{
	text-decoration: underline;
}

#u11915
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #DEDEDE;
	-moz-border-radius: 19px;
	-webkit-border-radius: 19px;
	-khtml-border-radius: 19px;
	border-radius: 19px;
	padding-bottom: 1px;
	top: -97px;
	left: -7px;
}

#u11915:hover
{
	background-color: #E25224;
	margin: 0px;
}

#u11131:active,#u11994:active,#u11915:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u11916-4
{
	z-index: 125;
	width: 20px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 25px;
	color: #95847A;
	font-size: 18px;
	text-align: center;
	font-family: expletus-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u11917
{
	position: absolute;
	width: 433px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -91px;
	left: -421px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u11917popup
{
	z-index: 129;
}

#u11918
{
	z-index: 130;
	width: 324px;
	height: 256px;
	-pie-box-shadow: 6px 6px 8px #999999;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	background-color: #DEDEDE;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 22px 32px 12px 33px;
}

#u11920-4
{
	z-index: 131;
	width: 324px;
	min-height: 20px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
}

#u11919-4
{
	z-index: 184;
	width: 295px;
	min-height: 51px;
	background-color: transparent;
	line-height: 19px;
	color: #7F7F7F;
	font-size: 16px;
	text-align: center;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	margin-left: 15px;
	margin-top: 10px;
	position: relative;
}

#widgetu11921
{
	z-index: 135;
	width: 0.01px;
	height: 163px;
	margin-left: 10px;
	margin-top: 3px;
	position: relative;
}

#widgetu11923
{
	z-index: 136;
	width: 300px;
	height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1px;
}

#u11926-4
{
	z-index: 137;
	width: 286px;
	min-height: 26px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 18px;
	color: #C4C4C4;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu11923.non-empty-st #u11926-4
{
	background-color: #FFFFFF;
}

#widgetu11923:hover #u11926-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 0px -10000px 0px 0px;
}

#widgetu11923.focus-st #u11926-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 0px -10000px 0px 0px;
}

#widgetu11923.non-empty-st #u11926-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu11923:hover #u11926-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu11923.focus-st #u11926-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu11932
{
	z-index: 141;
	width: 300px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: -1px;
}

#widgetu11142.fld-err-st,#widgetu12015.fld-err-st,#widgetu11932.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 45px -10000px 0px 0px;
}

#u11935-4
{
	z-index: 142;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u11934-4
{
	z-index: 146;
	width: 286px;
	min-height: 26px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 18px;
	color: #C4C4C4;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#widgetu11932.non-empty-st #u11934-4
{
	background-color: #FFFFFF;
}

#widgetu11932:hover #u11934-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 20px -10000px 0px 0px;
}

#widgetu11932.focus-st #u11934-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 20px -10000px 0px 0px;
}

#widgetu11142.fld-err-st #u11144-4,#widgetu12015.fld-err-st #u12017-4,#widgetu11932.fld-err-st #u11934-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 20px -10000px 0px 0px;
}

#widgetu11932.non-empty-st #u11934-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu11932:hover #u11934-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu11932.focus-st #u11934-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u11931-4
{
	z-index: 150;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 113px;
}

#u11922-4
{
	z-index: 154;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 113px;
}

#u11937-4
{
	z-index: 158;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 113px;
}

#u11936-17
{
	z-index: 162;
	min-height: 41px;
	width: 298px;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	left: 2px;
	background: url("../images/u11936-17.png") no-repeat 0px 0px;
}

#u11936-17:hover
{
	background: url("../images/u11936-17-r.png") no-repeat 0px 0px;
}

#u11936-17:active
{
	background: url("../images/u11936-17-m.png") no-repeat 0px 0px;
}

#widgetu11921.frm-sub-st #u11936-17
{
	background: url("../images/u11936-17-fs.png") no-repeat 0px 0px;
}

#widgetu11927
{
	z-index: 179;
	width: 300px;
	height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 1px;
}

#u11929-4
{
	z-index: 180;
	width: 286px;
	min-height: 26px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 18px;
	color: #C4C4C4;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu11927.non-empty-st #u11929-4
{
	background-color: #FFFFFF;
}

#widgetu11927:hover #u11929-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 0px -10000px 0px 0px;
}

#widgetu11927.focus-st #u11929-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 0px -10000px 0px 0px;
}

#widgetu11927.non-empty-st #u11929-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu11927:hover #u11929-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu11927.focus-st #u11929-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u11573-4
{
	z-index: 192;
	width: 322px;
	min-height: 30px;
	background-color: transparent;
	line-height: 36px;
	color: #000000;
	font-size: 30px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 369px;
	left: 744px;
}

#widgetu11371
{
	z-index: 309;
	width: 0.01px;
	height: 140px;
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
	left: 279px;
}

#widgetu11376
{
	z-index: 310;
	width: 300px;
	height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1px;
}

#widgetu11136.fld-err-st,#widgetu12004.fld-err-st,#widgetu11923.fld-err-st,#widgetu11376.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: -1px -10000px 0px 0px;
}

#u11377-4
{
	z-index: 311;
	width: 286px;
	min-height: 26px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 18px;
	color: #C4C4C4;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu11376.non-empty-st #u11377-4
{
	background-color: #FFFFFF;
}

#widgetu11376:hover #u11377-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 0px -10000px 0px 0px;
}

#widgetu11376.focus-st #u11377-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 0px -10000px 0px 0px;
}

#widgetu11376.non-empty-st #u11377-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu11376:hover #u11377-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu11376.focus-st #u11377-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu11382
{
	z-index: 315;
	width: 300px;
	height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: -1px;
}

#widgetu11382.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 85px -10000px 0px 0px;
}

#u11384-4
{
	z-index: 316;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu11142.fld-err-st #u11143-4,#widgetu12015.fld-err-st #u12018-4,#widgetu11932.fld-err-st #u11935-4,#widgetu11382.fld-err-st #u11384-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu11142.fld-err-st #u11143-4 p,#widgetu11142.fld-err-st #u11143-4 span,#widgetu12015.fld-err-st #u12018-4 p,#widgetu12015.fld-err-st #u12018-4 span,#widgetu11932.fld-err-st #u11935-4 p,#widgetu11932.fld-err-st #u11935-4 span,#widgetu11382.fld-err-st #u11384-4 p,#widgetu11382.fld-err-st #u11384-4 span
{
	color: #D7244C;
}

#u11385-4
{
	z-index: 320;
	width: 286px;
	min-height: 26px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 18px;
	color: #C4C4C4;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

#widgetu11382.non-empty-st #u11385-4
{
	background-color: #FFFFFF;
}

#widgetu11382:hover #u11385-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 10px -10000px 0px 0px;
}

#widgetu11382.focus-st #u11385-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 10px -10000px 0px 0px;
}

#widgetu11382.fld-err-st #u11385-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 10px -10000px 0px 0px;
}

#widgetu11382.non-empty-st #u11385-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu11382:hover #u11385-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu11382.focus-st #u11385-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu11142.focus-st #widgetu11142_prompt,#widgetu12015.focus-st #widgetu12015_prompt,#widgetu11932.focus-st #widgetu11932_prompt,#widgetu11382.focus-st #widgetu11382_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#u11380-4
{
	z-index: 324;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 100px;
}

#widgetu11135.frm-sub-st #u11140-4 p,#widgetu12003.frm-sub-st #u12019-4 p,#widgetu11921.frm-sub-st #u11931-4 p,#widgetu11371.frm-sub-st #u11380-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u11386-4
{
	z-index: 328;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 100px;
}

#widgetu11135.frm-subm-err-st #u11150-4 p,#widgetu12003.frm-subm-err-st #u12013-4 p,#widgetu11921.frm-subm-err-st #u11922-4 p,#widgetu11371.frm-subm-err-st #u11386-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u11381-4
{
	z-index: 332;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 100px;
}

#widgetu11135.frm-sub-st #u11140-4,#widgetu11135.frm-subm-err-st #u11150-4,#widgetu11135.frm-subm-ok-st #u11151-4,#widgetu12003.frm-sub-st #u12019-4,#widgetu12003.frm-subm-err-st #u12013-4,#widgetu12003.frm-subm-ok-st #u12012-4,#widgetu11921.frm-sub-st #u11931-4,#widgetu11921.frm-subm-err-st #u11922-4,#widgetu11921.frm-subm-ok-st #u11937-4,#widgetu11371.frm-sub-st #u11380-4,#widgetu11371.frm-subm-err-st #u11386-4,#widgetu11371.frm-subm-ok-st #u11381-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu11135.frm-subm-ok-st #u11151-4 p,#widgetu12003.frm-subm-ok-st #u12012-4 p,#widgetu11921.frm-subm-ok-st #u11937-4 p,#widgetu11371.frm-subm-ok-st #u11381-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u11387-17
{
	z-index: 336;
	min-height: 41px;
	width: 298px;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	background: url("../images/u11387-17.png") no-repeat 0px 0px;
}

#u11387-17:hover
{
	background: url("../images/u11387-17-r.png") no-repeat 0px 0px;
}

#u11387-17:active
{
	background: url("../images/u11387-17-m.png") no-repeat 0px 0px;
}

#widgetu11371.frm-sub-st #u11387-17
{
	background: url("../images/u11387-17-fs.png") no-repeat 0px 0px;
}

#widgetu11372
{
	z-index: 353;
	width: 300px;
	height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 1px;
}

#widgetu11146.fld-err-st,#widgetu12008.fld-err-st,#widgetu11927.fld-err-st,#widgetu11372.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 46px -10000px 0px 0px;
}

#u11373-4
{
	z-index: 354;
	width: 286px;
	min-height: 26px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 18px;
	color: #C4C4C4;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu11372.non-empty-st #u11373-4
{
	background-color: #FFFFFF;
}

#widgetu11372:hover #u11373-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 0px -10000px 0px 0px;
}

#widgetu11372.focus-st #u11373-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 0px -10000px 0px 0px;
}

#widgetu11136.fld-err-st #u11139-4,#widgetu11146.fld-err-st #u11147-4,#widgetu12004.fld-err-st #u12005-4,#widgetu12008.fld-err-st #u12009-4,#widgetu11923.fld-err-st #u11926-4,#widgetu11927.fld-err-st #u11929-4,#widgetu11376.fld-err-st #u11377-4,#widgetu11372.fld-err-st #u11373-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 26px;
	width: 286px;
	margin: 0px -10000px 0px 0px;
}

#widgetu11372.non-empty-st #u11373-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu11372:hover #u11373-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu11372.focus-st #u11373-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu11136.fld-err-st #u11139-4 *,#widgetu11142.fld-err-st #u11144-4 *,#widgetu11146.fld-err-st #u11147-4 *,#widgetu12004.fld-err-st #u12005-4 *,#widgetu12015.fld-err-st #u12017-4 *,#widgetu12008.fld-err-st #u12009-4 *,#widgetu11923.fld-err-st #u11926-4 *,#widgetu11932.fld-err-st #u11934-4 *,#widgetu11927.fld-err-st #u11929-4 *,#widgetu11376.fld-err-st #u11377-4 *,#widgetu11382.fld-err-st #u11385-4 *,#widgetu11372.fld-err-st #u11373-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu11136_input,#widgetu11136_prompt,#widgetu11142_input,#widgetu11142_prompt,#widgetu11146_input,#widgetu11146_prompt,#widgetu12004_input,#widgetu12004_prompt,#widgetu12015_input,#widgetu12015_prompt,#widgetu12008_input,#widgetu12008_prompt,#widgetu11923_input,#widgetu11923_prompt,#widgetu11932_input,#widgetu11932_prompt,#widgetu11927_input,#widgetu11927_prompt,#widgetu11376_input,#widgetu11376_prompt,#widgetu11382_input,#widgetu11382_prompt,#widgetu11372_input,#widgetu11372_prompt
{
	width: 286px;
	min-height: 26px;
	color: #C4C4C4;
	font-family: pt-sans, sans-serif;
	font-size: 18px;
	font-weight: 400;
	padding: 6px;
}

#widgetu11136:hover #widgetu11136_input,#widgetu11136.focus-st #widgetu11136_input,#widgetu11136.fld-err-st #widgetu11136_input,#widgetu11136:hover #widgetu11136_prompt,#widgetu11136.focus-st #widgetu11136_prompt,#widgetu11136.fld-err-st #widgetu11136_prompt,#widgetu11142:hover #widgetu11142_input,#widgetu11142.focus-st #widgetu11142_input,#widgetu11142.fld-err-st #widgetu11142_input,#widgetu11142:hover #widgetu11142_prompt,#widgetu11142.fld-err-st #widgetu11142_prompt,#widgetu11146:hover #widgetu11146_input,#widgetu11146.focus-st #widgetu11146_input,#widgetu11146.fld-err-st #widgetu11146_input,#widgetu11146:hover #widgetu11146_prompt,#widgetu11146.focus-st #widgetu11146_prompt,#widgetu11146.fld-err-st #widgetu11146_prompt,#widgetu12004:hover #widgetu12004_input,#widgetu12004.focus-st #widgetu12004_input,#widgetu12004.fld-err-st #widgetu12004_input,#widgetu12004:hover #widgetu12004_prompt,#widgetu12004.focus-st #widgetu12004_prompt,#widgetu12004.fld-err-st #widgetu12004_prompt,#widgetu12015:hover #widgetu12015_input,#widgetu12015.focus-st #widgetu12015_input,#widgetu12015.fld-err-st #widgetu12015_input,#widgetu12015:hover #widgetu12015_prompt,#widgetu12015.fld-err-st #widgetu12015_prompt,#widgetu12008:hover #widgetu12008_input,#widgetu12008.focus-st #widgetu12008_input,#widgetu12008.fld-err-st #widgetu12008_input,#widgetu12008:hover #widgetu12008_prompt,#widgetu12008.focus-st #widgetu12008_prompt,#widgetu12008.fld-err-st #widgetu12008_prompt,#widgetu11923:hover #widgetu11923_input,#widgetu11923.focus-st #widgetu11923_input,#widgetu11923.fld-err-st #widgetu11923_input,#widgetu11923:hover #widgetu11923_prompt,#widgetu11923.focus-st #widgetu11923_prompt,#widgetu11923.fld-err-st #widgetu11923_prompt,#widgetu11932:hover #widgetu11932_input,#widgetu11932.focus-st #widgetu11932_input,#widgetu11932.fld-err-st #widgetu11932_input,#widgetu11932:hover #widgetu11932_prompt,#widgetu11932.fld-err-st #widgetu11932_prompt,#widgetu11927:hover #widgetu11927_input,#widgetu11927.focus-st #widgetu11927_input,#widgetu11927.fld-err-st #widgetu11927_input,#widgetu11927:hover #widgetu11927_prompt,#widgetu11927.focus-st #widgetu11927_prompt,#widgetu11927.fld-err-st #widgetu11927_prompt,#widgetu11376:hover #widgetu11376_input,#widgetu11376.focus-st #widgetu11376_input,#widgetu11376.fld-err-st #widgetu11376_input,#widgetu11376:hover #widgetu11376_prompt,#widgetu11376.focus-st #widgetu11376_prompt,#widgetu11376.fld-err-st #widgetu11376_prompt,#widgetu11382:hover #widgetu11382_input,#widgetu11382.focus-st #widgetu11382_input,#widgetu11382.fld-err-st #widgetu11382_input,#widgetu11382:hover #widgetu11382_prompt,#widgetu11382.fld-err-st #widgetu11382_prompt,#widgetu11372:hover #widgetu11372_input,#widgetu11372.focus-st #widgetu11372_input,#widgetu11372.fld-err-st #widgetu11372_input,#widgetu11372:hover #widgetu11372_prompt,#widgetu11372.focus-st #widgetu11372_prompt,#widgetu11372.fld-err-st #widgetu11372_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu11136.non-empty-st #widgetu11136_prompt,#widgetu11142.non-empty-st #widgetu11142_prompt,#widgetu11146.non-empty-st #widgetu11146_prompt,#widgetu12004.non-empty-st #widgetu12004_prompt,#widgetu12015.non-empty-st #widgetu12015_prompt,#widgetu12008.non-empty-st #widgetu12008_prompt,#widgetu11923.non-empty-st #widgetu11923_prompt,#widgetu11932.non-empty-st #widgetu11932_prompt,#widgetu11927.non-empty-st #widgetu11927_prompt,#widgetu11376.non-empty-st #widgetu11376_prompt,#widgetu11382.non-empty-st #widgetu11382_prompt,#widgetu11372.non-empty-st #widgetu11372_prompt
{
	visibility: hidden;
}

#u11369-4
{
	z-index: 358;
	width: 295px;
	min-height: 51px;
	background-color: transparent;
	line-height: 19px;
	color: #7F7F7F;
	font-size: 16px;
	text-align: center;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 279px;
}

#pu10884
{
	width: 0.01px;
	margin-left: 34px;
	margin-top: 16px;
}

#u10884
{
	z-index: 25;
	width: 93px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u10884_img
{
	padding-right: 16px;
	padding-bottom: 17px;
}

#u10886-6
{
	z-index: 27;
	width: 283px;
	min-height: 68px;
	background-color: transparent;
	line-height: 34px;
	color: #FFFFFF;
	font-size: 28px;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 85px;
}

#u10955-6
{
	z-index: 40;
	width: 166px;
	min-height: 53px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 721px;
}

#pu10253-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 915px;
}

#u10253-5
{
	z-index: 10;
	width: 150px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
}

#u11348-2,#u10220-3,#u10253-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u10220,#u10253
{
	font-size: 19px;
	line-height: 23px;
}

#u10220-2,#u10253-2
{
	line-height: 29px;
}

#u10255-7
{
	z-index: 15;
	width: 147px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: right;
	margin-top: 3px;
	position: relative;
}

#u10255-2
{
	font-size: 20px;
	line-height: 24px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u10255-5
{
	font-size: 18px;
	line-height: 22px;
}

#u10955-2,#u10955-3,#u10255-3
{
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u11809
{
	z-index: 3;
	height: 163px;
	border-color: #000000;
	background: transparent url("../images/fon-oboi52.jpg") no-repeat center bottom;
	background-size: cover;
}

#u11809-bw
{
	z-index: 3;
	margin-top: -149px;
	margin-bottom: -149px;
	height: 163px;
}

body
{
	position: relative;
	min-width: 1150px;
	padding-top: 6px;
}

#page .verticalspacer
{
	clear: both;
}

