.Body
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11999.PamphletThumbSelected #u12000-4 p,#u11348-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u11880.PamphletThumbSelected #u11912-4 p,#u11880.PamphletThumbSelected #u11912-4 span,#u11159.PamphletThumbSelected #u11160-4 p,#u10887-6,#u10220-5,#u11160-4
{
	font-family: cuprum-n4, sans-serif;
}

#u11139-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u11144-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u11147-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u11988-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u11989-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u11990-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u11991-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u12000-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u12005-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u12017-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u12009-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u11153-4,#u12020-4,#u11370-4,#u11938-8,#u11912-4
{
	font-family: cuprum-n4, sans-serif;
}

#u11132-4,#u11995-4,#u11916-4
{
	font-family: expletus-sans-n7, sans-serif;
}

#u11926-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u11934-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u11929-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u11377-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u11385-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u11373-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu11136_input,#widgetu11136_prompt,#widgetu11142_input,#widgetu11142_prompt,#widgetu11146_input,#widgetu11146_prompt,#widgetu12004_input,#widgetu12004_prompt,#widgetu12015_input,#widgetu12015_prompt,#widgetu12008_input,#widgetu12008_prompt,#widgetu11923_input,#widgetu11923_prompt,#widgetu11932_input,#widgetu11932_prompt,#widgetu11927_input,#widgetu11927_prompt,#widgetu11376_input,#widgetu11376_prompt,#widgetu11382_input,#widgetu11382_prompt,#widgetu11372_input,#widgetu11372_prompt
{
	font-family: pt-sans, sans-serif;
}

#u11152-4,#u12021-4,#u11919-4,#u11369-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u10886-6
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u11920-4,#u11573-4,#u10955-2,#u10955-3,#u10253-5,#u10255-2,#u10255-3
{
	font-family: cuprum-n4, sans-serif;
}

